.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 200px;
  align-items: center;
  width: 100%;
}

.title,
.select {
  width: 80%;
  padding: 5px 10px;
  margin: 0 20px;
}

.title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.select {
  padding: 15px;
  border-radius: 10px;
  border: none;
}

.countries {
  margin-top: 280px;
  padding: 30px 20px;
  display: grid;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: var(--my-color);
}

.search {
  color: #fff;
}

.country {
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  /* background-color: var(--sec-color); */
  background: radial-gradient(circle at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
  padding: 10px 29px;
  border-radius: 20px;
}

.country:hover {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}

.country p {
  padding: 5px 5px;
  font-family: var(--primary-font-fami);
  color: black;
  font-size: large;
}

.flag img {
  width: 100px;
  height: auto;
}

.info {
  text-align: start;
}

@media (min-width: 1200px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}
